.header {
    text-align: center;
}

#ballin {
    width: 250px;
    height: auto;
}

figure {
    margin-left: 0px;
    margin: auto;
    padding: 0px;
}

ul {
    style: "list-style-type: none;"
}

li {
    display: inline;
    padding-right: 15px;
    font-size: 20px;
}

#friends {
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    margin-top:0px;
    margin-bottom: auto;
    padding: 0px;
}
#tableHeader {
    text-align:right;
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    margin-top:0px;
    align-content: top;
    padding: 10px;
}

.content {
    margin: 75px;
    padding: 25px;
    border-style: solid;
}

#fest {
    width: 250px;
    height: auto;
}