.header {
    text-align: center;
    background-color: #F2B138;
    border-top-color: #F2B138;
}

body {
    background-color: #A1A5A6;
}

#ballin {
    width: 350px;
    height: auto;
}

figure {
    margin-left: 0px;
    margin: auto;
    padding: 0px;
}

ul {
    style: "list-style-type: none;"
}

li {
    display: inline;
    padding-right: 15px;
    font-size: 20px;
}

#friends {
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    margin-top:0px;
    margin-bottom: auto;
    padding: 0px;
}
#tableHeader {
    text-align:right;
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    margin-top:0px;
    align-content: top;
    padding: 10px;
}

.content {
    margin: 75px;
    padding: 25px;
    border-style: solid;
    border-color: #003F63;
}

#fest {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    display: inline;
}