.header {
    text-align: center;
}

#ballin {
    width: 250px;
    height: auto;
}

figure {
    align-content: left;
}

ul {
    style: "list-style-type: none;"
}

li {
    display: inline;
    padding-right: 15px;
    font-size: 20px;
}

table {
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    margin-top:0px;
}

#content {
    margin: 25px;
    border-style: solid;
}